@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
.profile-image {
  width: 30px;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}
.video-detail-image {
  width: 100%x;
}
.video-item-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.profileImage {
  width: 50px;
  margin-right: 20px;
}
