/* Write your CSS here */
button {
  color: white;
  background-color: #007bff;
  border: 0px;
  padding: 10px;
}
span {
  color: #c20a72;
}
h1 {
  color: #2d3a35;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
