.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.profile {
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-right: 20px;
  margin-top: 15px;
}
.letter {
  color: white;
}
.profile-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.name-paragraph {
  margin-right: 20px;
  color: #334155;
  font-weight: bold;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.profile-comment {
  width: 100px;
  font-size: 13px;
  color: #475569;
}
.profile-time {
  font-size: 13px;
  color: #7e858e;
  margin-top: 20px;
}
.like-paragraph {
  color: #0b69ff;
  margin-left: 15px;
}
.like-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.unliked {
  color: #7e858e;
  margin-left: 15px;
}
.button {
  background-color: transparent;
  border: 0px;
}
.likeThumb-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
