/* Write your CSS here */
.container {
  height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 1200px;
    padding: 20px;
  }
  .inner-container {
    width: 1100px;
  }
}
.top-manager {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 20px;
  font-family: 'Roboto';
}
.middle-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  flex-grow: 1;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  border-radius: 12px;
  border-color: #7e858e;
}
.bottom-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
input {
  border-style: solid;
  border-width: 1px;
  border-color: #7e858e;
  margin-bottom: 25px;
  border-radius: 5px;
}
.input-title {
  width: 300px;
  height: 30px;
}
.input-amount {
  width: 300px;
  height: 30px;
}
.bottom-heading {
  font-size: 20px;
}
select {
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #7e858e;
  border-radius: 5px;
}
label {
  margin-bottom: 5px;
}
button {
  background-color: #7c3aed;

  border-width: 0px;
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 5px;
}

.unordered-list {
  border-style: solid;
  border-width: 1px;
  border-color: #7e858e;
  border-radius: 5px;
  margin-left: 100px;

  padding: 500px;
  width: 400px;
  padding: 20px;
}
ul {
  list-style-type: none;
}
.list-li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: #7e858e;
  width: 349px;
  height: 40px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 349px;
  height: 40px;
}
.item {
  flex-grow: 1;
  height: 40px;
}
.top-item {
  margin-right: 30px;
}
@media (max-width: 767px) {
  .container {
    width: 500px;
    padding: 20px;
  }
  .middle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .top-manager {
    width: 300px;
  }
  .bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
