.count-container {
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.first-container {
  background-color: #ffc533;
  flex-grow: 1;
  height: 100vh;
}
.second-container {
  height: 100vh;
  flex-grow: 1;
  background-color: #0f172a;
}
.image-empty {
  width: 300px;
}
ul {
  list-style-type: none;
}
.add-button {
  border: 0px;
  background-color: #ffbf1f;
  width: 50px;
  height: 30px;
  margin-left: 10px;

  border-radius: 5px;
}
input {
  height: 30px;
}
