/* Write your CSS code here */
.contact-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-heading {
  color: #551e53;
  font-family: 'Roboto';
  font-weight: bold;
}

@media (max-width: 767px) {
  img {
    width: 200px;
  }
}
